---
import Prose from "@layouts/Prose.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from "@lib/consts";
import { getCollection } from "astro:content";

let title = SITE_TITLE;
let description = SITE_DESCRIPTION;
let permalink = SITE_URL;

let posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

posts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const monthNames = [
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec",
];

function fmtDate(pubDate: string | Date) {
  const date = new Date(pubDate);
  const month = monthNames[date.getMonth()];
  const dateStr: string = `${month} ${date.getDate()}, ${date.getFullYear()}`;
  return dateStr;
}
---

<Prose title={title} description={description} permalink={permalink}>
  <h2 class="text-center mb-10 text-4xl md:text-6xl font-bold mt-0">Articles</h2>
  <div class="flex flex-col gap-8">
    {
      posts.map((post) => {
        return (
          <div class="flex flex-col md:grid md:grid-cols-7 gap-0 items-start md:items-center">
            <span class="font-mono text-orange text-sm w-28 flex md:w-[150px] md:col-span-2 ">
              {fmtDate(post.data.pubDate)}
            </span>

            <a
              href={`/blog/${post.data.pubDate.getFullYear()}/${post.data.pubDate.getMonth() + 1}/${post.slug}`}
              class="text-xl md:col-span-5"
            >
              {post.data.title}
            </a>
          </div>
        );
      })
    }
  </div>
</Prose>
