---
export interface Props {
  title: string;
  desc: string;
  img: string;
  links: any;
}

const { title, desc, img, links } = Astro.props;
---

<div class="flex flex-col bg-[#27272A] p-1 prose prose-invert">
  <div class="flex">
    <img src={img} class="w-full min-h-[260px] m-0 object-cover my-0!" />
  </div>
  <div class="flex flex-col px-2 py-2 text-center">
    <h3 class="uppercase m-0!">
      {title}
    </h3>
    <span class="font-mono text-sm">{desc}</span>

    <div class="flex flex-col md:flex-row gap-4 w-full h-full justify-center items-center">
      {
        links.map((link: any) => (
          <a href={link.href} class="underline hover:text-mywhite ">
            {link.text}
          </a>
        ))
      }
    </div>
  </div>
</div>
