---
export interface Props {
    posts: object[];
    title?: string;
}

const { title, posts } = Astro.props;

const monthNames = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
];

function fmtDate(publishDate: string) {
    const date = new Date(publishDate);
    const month = monthNames[date.getMonth()];
    const dateStr: string = `${month} ${date.getDate()}, ${date.getFullYear()}`;
    return dateStr;
}
---

<div class="container mx-auto max-w-screen-sm">
    <h2 class="text-center mb-10 text-4xl md:text-6xl font-bold">
        {title}
    </h2>
    <div class="flex flex-col gap-8">
        {
            posts.map((post, index) => {
                const d = new Date(post.data.publishDate);
                return (
                    <div class="flex flex-row gap-2 items-end">
                        <div class="font-mono text-sm text-gray-400 w-28 flex posts-center">
                            <span>{fmtDate(post.data.publishDate)}</span>
                        </div>
                        <div class="flex-1">
                            <a href={`/blog/${post.data.publishDate.getFullYear()}/${post.data.publishDate.getMonth() + 1}/${post.slug}`} class="text-xl">
                                {post.data.title}
                            </a>
                        </div>
                    </div>
                );
            })
        }
    </div>
</div>
