---
import Prose from "@layouts/Prose.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from "@lib/consts";
import { getCollection } from "astro:content";

let title = SITE_TITLE;
let description = SITE_DESCRIPTION;
let permalink = SITE_URL;

let posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

let videos = await getCollection("videos", ({ data }) => {
  return data.draft !== true;
});

// Combine collections with a type property
posts = posts.map((post) => ({
  ...post,
  contentType: "blog",
}));

videos = videos.map((video) => ({
  ...video,
  contentType: "video",
}));

let allContent = [...posts, ...videos];
// let allContent = [...videos];

allContent = allContent.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const monthNames = [
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec",
];

function fmtDate(pubDate: string | Date) {
  const date = new Date(pubDate);
  const month = monthNames[date.getMonth()];
  const dateStr = `${month} ${date.getDate()}, ${date.getFullYear()}`;
  return dateStr;
}

// Group posts by year
const groupedByYear = allContent.reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});
---

<Prose title={title} description={description} permalink={permalink}>
  <!-- <h1 class="mb-10 mt-0">Co</h1> -->

  <div class="flex flex-col gap-2">
    {
      Object.keys(groupedByYear)
        .sort((a, b) => Number(b) - Number(a))
        .map((year) => (
          <div class="space-y-4">
            <div class="flex items-center text-sm font-medium text-gray-400 tracking-widest mb-0 mt-8">
              <div class="border-gray-700 border-b w-5 mr-2" />
              {year}
              <div class="border-gray-700 border-b w-full ml-2" />
            </div>

            {groupedByYear[year].map((post) => (
              <div class="mt-4 flex items-baseline" key={post.slug}>
                {post.contentType == "video" ? (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="hidden md:inline-block self-start w-5 h-5 mt-[2px] mr-2 text-gray-400 dark:text-gray-600"
                  >
                    <path
                      stroke-linecap="round"
                      d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z"
                    />
                  </svg>
                ) : null}
                <div class="w-full relative gap-2 justify-between z-50 items-baseline">
                  <p class="mt-0 mb-0 text-base">
                    <div class="flex items-start justify-between">
                      {post.data.link ? (
                        <a
                          class="text-white"
                          href={post.data.link}
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {post.data.title} ↗
                        </a>
                      ) : (
                        <a
                          class="text-white"
                          href={`/blog/${post.data.pubDate.getFullYear()}/${post.data.pubDate.getMonth() + 1}/${post.slug}`}
                        >
                          {post.data.title}
                        </a>
                      )}
                      {post.data.lang === "es" && (
                        <div class="mt-1 text-xs px-2 py-1 border dark:text-gray-400 dark:bg-neutral-800 dark:border-neutral-700 rounded -mt-1">
                          Spanish
                        </div>
                      )}
                    </div>
                  </p>

                  <div class="text-sm text-gray-500">{fmtDate(post.data.pubDate)}</div>
                </div>
              </div>
            ))}
          </div>
        ))
    }
  </div>
</Prose>
