---
import Prose from "@layouts/Prose.astro";
import PreviewGrid from "@components/grid/PreviewGrid.astro";
import LinkGrid from "@components/grid/LinkGrid.astro";

import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from "../lib/consts";

let title = SITE_TITLE;
let description = SITE_DESCRIPTION;
let permalink = SITE_URL;


const aiCoded = [
  {
    title: "things",
    desc: "Things3 clone with API, CLI and agents!",
    img: "/images/things.png",
    links: [
      {
        text: "View on GitHub",
        href: "https://github.com/danielfrg/things",
      },
      { text: "Read blogpost", href: "/blog/2026/1/things-vibe-coded" },
    ],
  },
  {
    title: "solid-ui",
    desc: "Port of base-ui to solid-js",
    img: "/images/solid-ui.png",
    links: [
      {
        text: "View on GitHub",
        href: "https://github.com/danielfrg/solid-ui",
      },
      { text: "Read blogpost", href: "/blog/2026/3/base-ui-vibe-coded" },
    ],
    tag: "Archived",
  },
]

const openSource = [
  {
    title: "mkdocs-jupyter",
    desc: "",
    img: "https://raw.githubusercontent.com/danielfrg/mkdocs-jupyter/main/docs/logo-square.png",
    links: [
      {
        text: "View on GitHub",
        href: "https://github.com/danielfrg/mkdocs-jupyter",
      },
    ],
    stars: "450+",
  },
  {
    title: "s3-contents",
    desc: "",
    img: "https://raw.githubusercontent.com/danielfrg/s3contents/main/docs/logo-square.png",
    links: [
      {
        text: "View on GitHub",
        href: "https://github.com/danielfrg/s3contents",
      },
    ],
    stars: "250+",
  },
  {
    title: "jupyter-flex",
    desc: "Dashboards for Jupyter",
    img: "https://jupyter-flex.danielfrg.com/assets/img/logo-square.png",
    links: [
      {
        text: "Visit docs",
        href: "https://jupyter-flex.danielfrg.com",
      },
      // { text: "Read blogpost", href: "/blog/2021/04/jupyter-flex" },
      {
        text: "View on GitHub",
        href: "https://github.com/danielfrg/jupyter-flex",
      },
    ],
    stars: "350+",
    tag: "Archived",
  },
];

const openSourceList = [
  {
    title: "word2vec",
    link: "https://github.com/danielfrg/word2vec",
    desc: "The first python interface to Google word2vec",
    stars: "2600+",
    tag: "Archived",
  },
  {
    title: "illusionist",
    link: "https://github.com/danielfrg/illusionist",
    desc: "Interactive client-only Jupyter Notebooks",
    tag: "Archived",
  },
  {
    title: "tsne",
    link: "https://github.com/danielfrg/tsne",
    desc: "A python wrapper for Barnes-Hut tsne",
    stars: "400+",
    tag: "Archived",
  },
  {
    title: "pelican-jupyter",
    link: "https://github.com/danielfrg/pelican-jupyter",
    desc: "Pelican plugin for blogging with Jupyter/IPython Notebooks",
    stars: "400+",
    tag: "Archived",
  },
];

const apps = [
  {
    title: "demucs",
    desc: "Music source separation",
    img: "/images/demucs.png",
    links: [
      { text: "Visit app", href: "https://demucs.danielfrg.com" },
      { text: "Read blogpost", href: "/blog/2020/10/demucs" },
    ],
    tag: "Inactive",
  },
  {
    title: "word2vec",
    desc: "Word embedding functions",
    img: "/images/word2vec.png",
    links: [
      { text: "Visit app", href: "https://word2vec.danielfrg.com" },
      {
        text: "Read blogpost",
        href: "/blog/2018/09/word2vec-algorithmia",
      },
    ],
    tag: "Inactive",
  },
  {
    title: "nbviewer.js",
    desc: "Client-only Jupyter Notebook viewer",
    img: "/images/nbviewerjs.png",
    links: [
      { text: "Visit app", href: "https://nbviewer.danielfrg.com" },
      { text: "Read blogpost", href: "/blog/2021/03/nbviewer-js" },
    ],
    tag: "Inactive",
  },
];
---

<Prose title={title} description={description} permalink={permalink}>
  <p>
    I built many projects in the before days and now in the after-AI era. These are some of them.
  </p>
  <p>
    New stuff I am working on is on <a href="https://github.com/danielfrg">Github</a>.
  </p>
  <h2>
    Some AI coded projects
  </h2>
  <div class="breakout">
    <PreviewGrid items={aiCoded} />
  </div>
  <h2>
    Some open source projects (pre AI!)
  </h2>
  <div class="breakout">
    <PreviewGrid items={openSource} />
  </div>

  <LinkGrid items={openSourceList} />

  <h2>
    Some old apps I built (pre AI!)
  </h2>
  <div class="breakout">
    <PreviewGrid items={apps} />
  </div>
</Prose>
