---
import Prose from "@layouts/Prose.astro";
import PreviewGrid from "@components/grid/PreviewGrid.astro";

import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from "../lib/consts";

let title = SITE_TITLE;
let description = SITE_DESCRIPTION;
let permalink = SITE_URL;

const apps = [
  {
    title: "demucs",
    desc: "Music source separation",
    img: "/images/demucs.png",
    links: [
      { text: "Visit app", href: "https://demucs.danielfrg.com" },
      { text: "Read blogpost", href: "/blog/2020/10/demucs" },
    ],
  },
  {
    title: "word2vec",
    desc: "Word embedding functions",
    img: "/images/word2vec.png",
    links: [
      { text: "Visit app", href: "https://word2vec.danielfrg.com" },
      {
        text: "Read blogpost",
        href: "/blog/2018/09/word2vec-algorithmia",
      },
    ],
  },
  {
    title: "nbviewer.js",
    desc: "Client-only Jupyter Notebook viewer",
    img: "/images/nbviewerjs.png",
    links: [
      { text: "Visit app", href: "https://nbviewer.danielfrg.com" },
      { text: "Read blogpost", href: "/blog/2021/03/nbviewer-js" },
    ],
  },
];

const openSource = [
  {
    title: "jupyter-flex",
    desc: "Dashboards for Jupyter",
    img: "https://jupyter-flex.danielfrg.com/assets/img/logo-square.png",
    links: [
      {
        text: "Visit docs",
        href: "https://jupyter-flex.danielfrg.com",
      },
      // { text: "Read blogpost", href: "/blog/2021/04/jupyter-flex" },
      {
        text: "View on GitHub",
        href: "https://github.com/danielfrg/jupyter-flex",
      },
    ],
  },
  {
    title: "mkdocs-jupyter",
    desc: "",
    img: "https://raw.githubusercontent.com/danielfrg/mkdocs-jupyter/main/docs/logo-square.png",
    links: [
      {
        text: "View on GitHub",
        href: "https://github.com/danielfrg/mkdocs-jupyter",
      },
    ],
  },
  {
    title: "s3-contents",
    desc: "",
    img: "https://raw.githubusercontent.com/danielfrg/s3contents/main/docs/logo-square.png",
    links: [
      {
        text: "View on GitHub",
        href: "https://github.com/danielfrg/s3contents",
      },
    ],
  },
];

const openSourceList = [
  {
    title: "illusionist",
    link: "https://github.com/danielfrg/illusionist",
    desc: "Interactive client-only Jupyter Notebooks",
  },
  {
    title: "word2vec",
    link: "https://github.com/danielfrg/word2vec",
    desc: "Python interface to Google word2vec",
  },
  {
    title: "tsne",
    link: "https://github.com/danielfrg/tsne",
    desc: "A python wrapper for Barnes-Hut tsne",
  },
  {
    title: "pelican-jupyter",
    link: "https://github.com/danielfrg/pelican-jupyter",
    desc: "Pelican plugin for blogging with Jupyter/IPython Notebooks",
  },
];
---

<Prose title={title} description={description} permalink={permalink}>
  <!-- OSS -->
  <div class="pt-16 px-3">
    <PreviewGrid title="Open Source" items={openSource} />

    <ul class="mx-auto mt-6 px-3">
      {
        openSourceList.map((item) => (
          <li class="m-0">
            <a href={item.link}>
              {item.title
            </a>: {item.desc}
          </li>
        ))
      }
    </ul>
  </div>

  <!-- Apps -->
  <div class="pt-16 px-3">
    <PreviewGrid title="Applications" items={apps} />
  </div>
</Base>
