---
export interface Props {
  title: string;
  pubDate: string;
  author?: string;
  summary?: string;
  tags?: string[];
}

const { title, pubDate, summary, tags } = Astro.props;

const monthNames = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const date = new Date(pubDate);
const month = monthNames[date.getMonth()];
const dateStr: string = `${month} ${date.getDate()}th, ${date.getFullYear()}`;
---

<article class="color">
  <header class="mb-10 md:mt-0 md:mb-10">
    <h1 class="mb-1 text-[28px] font-semibold">
      {title}
    </h1>
    <p class="m-0 p-0 text-xs uppercase">
      <time datetime={pubDate}>{dateStr}</time>
    </p>
    <p class="m-0 text-center text-4xl">
      {summary}
    </p>
  </header>

  <main>
    <slot />
  </main>

  <footer class="mt-20 mb-10 text-center text-sm font-mono">
    <p>Tags: {tags ? tags.join(", ") : ""}</p>
  </footer>
</article>
