---
export interface Props {
    title: string;
    author: string;
    publishDate: string;
    tags: string;
}

const { title, publishDate, summary, tags } = Astro.props;

const monthNames = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
];

const date = new Date(publishDate);
const month = monthNames[date.getMonth()];
const dateStr: string = `${month} ${date.getDate()}th, ${date.getFullYear()}`;
---

<article class="container mx-auto my-10 p-3 pb-16 max-w-[30em] prose leading-8">
    <header class="mb-10 md:mt-0 md:mb-10">
        <p class="m-0 p-0 text-center text-sm font-mono uppercase">
            <time datetime={publishDate}>{dateStr}</time>
        </p>
        <h1 class="text-center mb-1 text-5xl md:text-6xl font-bold">
            {title}
        </h1>
        <p class="m-0 text-center text-4xl">
            {summary}
        </p>
    </header>

    <main class="">
        <slot />
    </main>

    <footer class="mt-20 mb-10 text-center text-sm font-mono">
        <p>Tags: {tags.join(", ")}</p>
    </footer>
</article>
